@page
@model IndexModel
@{
    ViewData["Title"] = "Strona g³ówna";
    if (Request.Cookies.TryGetValue("UserId", out string id) && Request.Cookies.TryGetValue("UserRole", out string rola))
    {
        if (rola == "Wolontariusz")
        {
            Layout = "_Layout_wolontariusz";
        }
        else if (rola == "Pracownik")
        {
            Layout = "_Layout_pracownik";
        }
        else if (rola == "Opiekun")
        {
            Layout = "_Layout_opiekun";
        }
    }
    else
    {
        Layout = "~/Pages/Shared/_Layout.cshtml";
    }
}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Fundacja Pomocy</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<header class="bg-primary text-white text-center py-5">
    <h1>Fundacja Pomoc</h1>
    <p>Œwiadczymy wsparcie dla osób starszych i z niepe³nosprawnoœciami</p>
</header>

<div class="container mt-4">
    <section>
        <h2 class="mb-4">Nasza misja</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt felis ac turpis tincidunt, nec vestibulum turpis tristique.
        </p>
    </section>

    <section>
        <h2 class="mb-4">Nasze projekty</h2>
        <ul>
            <li>Projekt Serwis Obs³ugi Wolontariatu - otworzyliœmy serwis, w którym wolontariusze mog¹ zg³aszaæ siê do pomocy</li>
            <li>Inicjatywa ABC - wsparcie dla osób z niepe³nosprawnoœciami w zdobywaniu nowych umiejêtnoœci</li>
        </ul>
    </section>

    <section>
        <h2 class="mb-4">Jak mo¿emy ci pomóc?</h2>
        <p>
            Jeœli potrzebujesz wsparcia przejdŸ do zak³adki <a href="/Pomoc"> "Potrzebuje pomocy"</a>. Je¿eli chcesz siê zaanga¿owaæ jako wolontariusz przejdŸ do zak³adki <a href="/Wolontariusze"> "Jak zostaæ wolontariuszem"</a>.
        </p>
    </section>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-U7U5Et9sP6NvNWfFAc8F4glA7VM7h8XTFZQKw9p81nfsImsxgo9AQI3gtxXNlU/I" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


