@page
@model CreateUzytkownikModel
@{
    ViewData["Title"] = "Rejestracja";
    if (Request.Cookies.TryGetValue("UserId", out string id) && Request.Cookies.TryGetValue("UserRole", out string rola))
    {
        if (rola == "Wolontariusz")
        {
            Layout = "_Layout_wolontariusz";
        }
        else if (rola == "Pracownik")
        {
            Layout = "_Layout_pracownik";
        }
        else if (rola == "Opiekun")
        {
            Layout = "_Layout_opiekun";
        }
    }
    else
    {
        RedirectToPage("./Index");
    }
}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin="" />

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<h1>Zarejestruj siê</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method ="post">
            <div class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Uzytkownik.Login" class="control-label"></label>
                <input asp-for="Uzytkownik.Login" class="form-control" />
                <span asp-validation-for="Uzytkownik.Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uzytkownik.Haslo" class="control-label"></label>
                <input asp-for="Uzytkownik.Haslo" class="form-control" type="password"/>
                <span asp-validation-for="Uzytkownik.Haslo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uzytkownik.PESEL" class="control-label"></label>
                <input type="text" name="tresc" class="form-control" />
                <span asp-validation-for="Uzytkownik.PESEL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uzytkownik.Mail" class="control-label"></label>
                <input asp-for="Uzytkownik.Mail" class="form-control" />
                <span asp-validation-for="Uzytkownik.Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uzytkownik.Telefon" class="control-label"></label>
                <input asp-for="Uzytkownik.Telefon" class="form-control" type="tel"/>
                <span asp-validation-for="Uzytkownik.Telefon" class="text-danger"></span>
            </div>
            <div class="form-group" style="color: red;">
                @TempData["BladRejestracji"]
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Zarejestruj siê</button>
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <!--<a asp-action="Index" class="btn btn-primary">Back to List</a>-->
    <button onclick="goBack()" class="btn btn-primary">Powrót</button>
</div>

<p id="output"></p>

<script>
    function goBack() {
        window.history.back();
    }
</script>