@page
@model frontend.Pages.Uzytkownik.EditUzytkownikModel
@{
}

<h1>Edytuj</h1>

<h4>Uzytkownik</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Uzytkownik.Id" />
            <div class="form-group">
                <label asp-for="Uzytkownik.Login" class="control-label"></label>
                <input asp-for="Uzytkownik.Login" class="form-control" />
                <span asp-validation-for="Uzytkownik.Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uzytkownik.Haslo" class="control-label"></label>
                <input asp-for="Uzytkownik.Haslo" class="form-control" />
                <span asp-validation-for="Uzytkownik.Haslo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uzytkownik.Rola" class="control-label"></label>
                <input asp-for="Uzytkownik.Rola" class="form-control" />
                <span asp-validation-for="Uzytkownik.Rola" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>