@page
@model EditProfileUzytkownikModel
@{
    Request.Cookies.TryGetValue("UserLogin", out string login);
    ViewData["Title"] = "Rejestracja";
    if (Request.Cookies.TryGetValue("UserId", out string id) && Request.Cookies.TryGetValue("UserRole", out string rola))
    {
        if (rola == "Wolontariusz")
        {
            Layout = "_Layout_wolontariusz";
        }
        else if (rola == "Pracownik")
        {
            Layout = "_Layout_pracownik";
        }
        else if (rola == "Opiekun")
        {
            Layout = "_Layout_opiekun";
        }
    }
    else
    {
        RedirectToPage("./Index");
    }
}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin="" />

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<h1>Zarz¹dzaj swoimi danymi</h1>

<hr />
<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="./EditProfile">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./EditPassword">Has³o</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./EditPersonal">Moje dane</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <h3>Zmieñ swoje dane</h3>
        <div class="row">
            <div class="col-md-6">
                <form method="post" >
                    <div class="form-floating mb-3">
                        <input class="form-control" disabled="" type="text" name="Username" value="@login">
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" placeholder="Wpisz swój nowy numer telefonu." type="tel" name="PhoneNumber" value="@Model.Uzytkownik.Telefon">
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" placeholder="Wpisz swój nowy adres email." name="Email" value="@Model.Uzytkownik.Mail">
                    </div>
                    <div class="form-group" style="color: red;">
                        @TempData["BladZmiany"]
                    </div>
                    <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Zapisz zamiany</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <br />
    <button onclick="goBack()" class="btn btn-primary">Powrót</button>
</div>

<p id="output"></p>

<script>
    function goBack() {
        window.history.back();
    }
</script>